@model IEnumerable<Vehicle>

@{
	ViewData["Title"] = "Index";
}

<h1>Parked Cars</h1>

<p>
	<a asp-action="Create" class="btn btn-outline-info">Park New Vehicle</a>
</p>

<partial name="_VehicleList" />
