html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
    background-color: rgb(202, 218, 232);
    color: white;
}


footer {
    background-color: rgb(202, 218, 232);
    color: white;
}

.btn-outline-info {
    border-color: #236F9E;
    color: #236F9E;
    padding-top: 2px;
    padding-bottom: 2px;
}

    .btn-outline-info:hover {
        background-color: #236F9E;
        border-color: #236F9E;
        color: white;
    }




.btn-light {
    background-color: white;
    color: #236F9E;
    border-color:white;
}

    .btn-light:hover {
        border-color: #a2b6c3;
        background-color: white;
        color: #236F9E;
        box-shadow: 1px 1px 3px #80808077;
    }

    h1{
        text-transform: uppercase;
        text-shadow:1px 1px 3px #80808077;
        letter-spacing:3px;
        font-weight:lighter;
        font-size:2.89em
    }

    h4{
        margin-top: -8px;
        text-transform:uppercase;
        color:red;
        font-size: 1.1em;
    }

.unEditable {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left:11px;
    border-radius: 4px;
    color: #888888;
}